.image_container {
    -moz-perspective: 1000px;
    perspective: 1000px;
    position: absolute;
}

.image {
    -moz-transition: all 0.5s ease-n-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.x {
    -moz-rotate: -45 45 0 180deg;
    rotate: -45 45 0 180deg;
}

.y {
    -moz-rotate: 0 0 1 180deg;
    rotate: 0 0 1 180deg;
}

.z {
    -moz-rotate: 45 45 0 180deg;
    rotate: 45 45 0 180deg;
}

.h {
    -moz-rotate: 0 1 0 180deg;
    rotate: 0 1 0 180deg;
}


.y_90 {
    -moz-rotate: 0 0 1 90deg;
    rotate: 0 0 1 90deg;
}

.x_flip {
    -moz-rotate: 1 0 0 180deg;
    rotate: 1 0 0 180deg;
}


.y_270 {
    -moz-rotate: 0 0 1 -90deg;
    rotate: 0 0 1 -90deg;
}